* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  .praise-hand {
    transform: rotate(12deg);
    display: table;
    .sleeve {
      float: right;
      width: 30px;
      height: 90px;
      border: 10px solid #f00;
      border-radius: 10px;
   }
   .hand {
     float: right;
     .wist {
      position: relative;
      top: 15px;
      z-index: 2;
      background: #fff;
      float: right;
       width: 30px;
       height: 60px;
       border-top: 10px solid #f00;
       border-bottom: 10px solid #f00;
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
     }
     .fist {
       position: relative;
       left: 11px;
       bottom: 6px;
      float: right;
      width: 100px;
      height: 100px;
      border: 10px solid #f00;
      border-radius: 35px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
     }
     .finger {
        position: relative;
        left: 45px;
        top: 5px;
        float:right;
        .finger-line {
          display: block;
          width: 20px;
          border: 5px solid #f00;
          border-radius: 5px;
          margin-top: 16px;
        }
     }
     .thumb {
        position: absolute;
        left: 91px;
        bottom: 114px;
        background: #fff;
        width: 25px;
        height: 50px;
        border: 10px solid #f00;
        border-bottom-color: transparent;
        border-top-left-radius: 46px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 12px;
     }
   }
  }
}

